title:        'Git-Wiki' # This changes the title displayed at the top of every page.
auth:
  service: yamlfile
  store:   '/home/user/wiki/users.yml'
cache:        '/home/user/wiki/cache'
mime:
  magic:   true
  default: 'text/x-creole'
main_page:    'Home'
disabled_plugins:
  - misc/private_wiki
  - filter/orgmode
  - tagging
rack:
  rewrite_base: ''
  profiling:    false
log:
  level:     INFO
  file:      '/home/user/wiki/log'
git:
# The repository is a path to a Git repository.
# The wikitop is the path to the wiki inside the repository.
# This allows you to maintain a wiki inside the project it documents.
# The workspace is a place where the web server cache and
# (in the case of bare repositories) modified pages are located.
  repository:   '/home/user/repository'
  wikitop:      '/home/user/repository/wiki'
  workspace:    '/home/user/workspace'
